<div>
  <div>
    <label class="form-label form-label-input">デッキコード</label>
    <div class="relative">
      <input class="w-full pr-12 form-input" type="text" value="{{code}}" />
      <button
        data-copy="デッキコード"
        class="absolute top-0 bottom-0 right-0 px-3 rounded-l-none button button-primary"
        type="button"
      >
        <i class="fa-regular fa-copy"></i>
      </button>
    </div>
  </div>
  <div class="mt-3">
    <label class="form-label form-label-input">デッキURL</label>
    <div class="relative">
      <input class="w-full pr-12 form-input" type="text" value="{{url}}" />
      <button
        data-copy="url"
        class="absolute top-0 bottom-0 right-0 px-3 rounded-l-none button button-primary"
        type="button"
      >
        <i class="fa-regular fa-copy"></i>
      </button>
    </div>
  </div>
</div>
