<div>
  <ul class="mb-3 ml-6 space-y-2 list-disc">
    <li>
      このサイトは、スプラトゥーン３のナワバトラーのデッキ構築の補助を目的として作成しました。
    </li>
    <li>
      作成したデッキはブラウザ上に保存できる他、コードを発行してSNSなどで共有することができます。
    </li>
    <li>
      不具合がありましたら、お手数ですが開発のTwitterまでご連絡いただけますと幸いです。
    </li>
  </ul>
  <div>
    <a
      class="px-3 py-1 text-xs text-white rounded-full bg-sky-600 hover:text-gray-200 hover:bg-sky-900"
      href="https://twitter.com/khr32"
      target="_blank"
    >
      <i class="fa-brands fa-twitter"></i>
      @khr32
    </a>
  </div>
</div>
