<div class="deck-tab-item table__wrapper">
  <div class="table-caption-title">
    <div class="-mt-2 -ml-2 flex flex-wrap items-center">
      <span class="table-title-text">{{title}}</span>
      {{^srch}}
      <div class="mx-3 mt-3" title="デッキ情報">
        <button type="button" id="button-deck-info" class="button button-sm button-default">
          <i class="fa fa-circle-info w-3"></i>
        </button>
      </div>
      {{/srch}} {{#srch}}
      <div class="flex-auto" style="max-width: 16px"></div>
      {{/srch}}
      <div class="font-normal">
        <div class="mt-2 ml-2 w-36">
          <select class="form-input table-sort">
            <option value="0">カードNo(昇順)</option>
            <option value="1">カードNo(降順)</option>
            <option value="2">マス数(昇順)</option>
            <option value="3">マス数(降順)</option>
            <option value="4">SP数(昇順)</option>
            <option value="5">SP数(降順)</option>
            <option value="6">レア度(昇順)</option>
            <option value="7">レア度(降順)</option>
          </select>
        </div>
      </div>
      <div class="action-wrapper flex"></div>
      <div class="ml-1 flex flex-auto justify-end">
        <div class="button-toggle mt-3" role="group">
          <button
            type="button"
            data-button_type="grid"
            class="button button-sm button-default button-active"
            title="グリッド表示"
          >
            <i class="fa-solid fa-table-cells-large"></i>
          </button>
          <button type="button" data-button_type="table" class="button button-sm button-default" title="リスト表示">
            <i class="fa-solid fa-list"></i>
          </button>
        </div>
      </div>
    </div>
    {{#srch}}
    <div class="expandable-wrapper mt-2 md:mt-3">
      <form class="expandable cardlist_serch flex flex-wrap items-end !overflow-hidden">
        <div class="mb-3 -ml-3 flex flex-wrap">
          <div class="mt-2 ml-6 flex items-center" title="マス数">
            <div class="gridcount mt-4 mr-5 p-3 text-xs">
              <div class="absolute -top-5 left-1/2 -translate-x-1/2 text-xs font-normal whitespace-nowrap">マス数</div>
            </div>
            <div class="w-12">
              <label for="min-grid" class="form-label form-label-input mb-1 text-xs">最小</label>
              <input id="min-grid" type="number" class="form-input p-1 text-end" />
            </div>
            <span class="mx-2 mt-5">～</span>
            <div class="w-12">
              <label for="max-grid" class="form-label form-label-input mb-1 text-xs">最大</label>
              <input id="max-grid" type="number" class="form-input p-1 text-end" />
            </div>
          </div>
          <div class="mt-2 ml-6 flex items-center" title="スペシャルポイント">
            <div class="sp-fill relative mx-2 mt-4 h-3 w-3">
              <div class="absolute -top-6 left-1/2 -translate-x-1/2 text-xs font-normal whitespace-nowrap">sp</div>
            </div>
            <div class="ml-3 w-12">
              <label for="min-sp" class="form-label form-label-input mb-1 text-xs">最小</label>
              <input id="min-sp" type="number" class="form-input p-1 text-end" />
            </div>
            <span class="mx-2 mt-5">～</span>
            <div class="w-12">
              <label for="max-sp" class="form-label form-label-input mb-1 text-xs">最大</label>
              <input id="max-sp" type="number" class="form-input p-1 text-end" />
            </div>
          </div>
        </div>
        <div class="mb-3 ml-3 flex">
          <div class="relative" data-clearable>
            <input class="form-input input_cardlist_serch pr-16" type="text" placeholder="カード名" />
            <button class="button button-primary absolute top-0 right-0 bottom-0 rounded-l-none px-3" type="submit">
              <i class="fa fa-search"></i>
            </button>
            <i class="input-clear fa fa-circle-xmark right-12"></i>
          </div>
          <button
            type="button"
            class="button_search_clear button button-alt button-xs mr-1 ml-5 self-end whitespace-nowrap"
          >
            クリア
          </button>
        </div>
      </form>
      <div class="-mx-2 mt-1 -mb-2 md:-mx-4 md:-mb-4">
        <button type="button" class="button-default expand-button block w-full text-center">
          <span class="mr-2 text-sm">詳細検索</span><i class="fa-solid fa-caret-down"></i>
        </button>
      </div>
    </div>
    {{/srch}}
  </div>
  <div class="cardlist_table" tabindex="-1" data-layout="grid">
    <div class="cardlist_table_head">
      <div class="col-no text-center">
        <span class="xl:hidden">No.</span><span class="hidden xl:inline">ナンバー</span>
      </div>
      <div class="col-gridcount flex items-center justify-center">
        <div class="gridcount mr-3 after:h-3 after:w-3"></div>
        <span>マス</span>
      </div>
      <div class="col-sp flex items-center justify-center">
        <div class="sp-fill mr-px h-2 w-2"></div>
        <span>SP</span>
      </div>
      <div class="col-rarity text-center">
        <span class="hidden sm:inline md:hidden lg:inline">レア度</span>
      </div>
      <div class="col-name">名前</div>
      <div class="col-action"></div>
    </div>
    <ul class="cardlist_table_body"></ul>
  </div>
</div>
