<div
  tabindex="-1"
  aria-hidden="true"
  class="absolute inset-0 z-50 overflow-y-auto transition-opacity bg-gray-900 bg-opacity-50 pointer-events-auto dark:bg-opacity-80"
>
  <div tabindex="-1" aria-hidden="true" class="flex flex-col h-full">
    <div class="flex-shrink basis-1/5"></div>
    <div class="p-4">
      <div
        class="max-w-2xl mx-auto transition-transform duration-200 bg-white rounded-lg shadow modal-content dark:bg-gray-700"
      >
        <!-- header -->
        <div
          class="flex items-start justify-between p-3 border-b rounded-t lg:p-4 dark:border-gray-600"
        >
          <h3
            class="text-base font-medium text-gray-900 lg:text-xl dark:text-white"
          >
            {{ title }}
          </h3>
          <button
            type="button"
            class="inline-flex items-center justify-center ml-auto text-sm text-center text-gray-400 bg-transparent rounded-lg w-7 h-7 modal-close hover:bg-gray-200 hover:text-gray-900 lg:text-base lg:w-8 lg:h-8 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="defaultModal"
          >
            <i aria-hidden="true" class="fa fa-xmark"></i>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- /header -->
        <!-- body -->
        <div
          class="p-4 overflow-y-auto text-sm leading-relaxed text-gray-500 lg:text-base lg:p-6 dark:text-gray-400"
        >
          {{ body }} {{{ bodyHTML }}}
        </div>
        <!-- /body -->
        <!-- footer -->
        {{#buttons.length}}
        <div
          class="flex items-center p-4 space-x-2 border-t border-gray-200 rounded-b lg:p-6 dark:border-gray-600"
        >
          {{#buttons}}
          <button
            type="button"
            class="button px-3 py-2 rounded-md lg:px-5 lg:py-2.5 lg:rounded-lg modal-action {{buttonClass}}"
          >
            {{#icon}}
            <i class="mr-2 {{.}}"></i>
            {{/icon}} {{label}}
          </button>
          {{/buttons}}
        </div>
        {{/buttons.length}}
        <!-- /footer -->
      </div>
    </div>
    <div class="flex-shrink basis-3/5"></div>
  </div>
</div>
