<tr
  data-card_no="{{n}}"
  data-card_rarity="{{r}}"
  data-card_spx="{{sg}}"
  data-card_px="{{g}}"
>
  <td class="card_grid">
    <div class="grid__wrapper"></div>
  </td>
  <td class="card_no" title="ナンバー">
    <div class="flex items-center">
      {{#notDeck}}
      <i class="hidden icon-check fa-regular fa-circle-check"></i>
      {{/notDeck}}
      <span></span>
      <span class="value">{{n}}</span>
    </div>
  </td>
  <td class="card_gridcount" title="マス数">{{gridCount}}</td>
  <td class="card_sp" title="スペシャルポイント">
    <div class="inline-block cardgrid-cell sp-fill"></div>
    <i class="mx-1 fa fa-xmark"></i><span>{{sp}}</span>
  </td>
  <td class="card_rarity" title="レア度"><div>{{rarity}}</div></td>
  <td class="card_name" title="カード名"><span>{{ja}}</span></td>
  <td class="card_action">
    {{#notDeck}}
    <button class="button-add button button-xs button-primary" title="デッキに追加">
      <i class="fa fa-plus"></i>
    </button>
    {{/notDeck}}
    <button class="button-delete button button-xs button-danger" title="デッキから削除">
      <i class="fa fa-trash-can"></i>
    </button>
  </td>
</tr>
