<div class="deck-tab-item table__wrapper">
  <div class="table-caption-title">
    <div class="flex flex-wrap items-center -mt-3">
      <span class="mt-3 mr-12 table-title-text">{{title}}</span>
      <div class="flex flex-wrap action-wrapper">
        {{#srch}}
        <form class="flex items-center cardlist_serch search-container">
          <div
            class="relative w-56 mt-3 transition-all duration-300"
            data-clearable
          >
            <input
              class="w-full pr-16 form-input input_cardlist_serch"
              type="search"
              placeholder="カード名検索"
            />
            <button
              class="absolute top-0 bottom-0 right-0 px-3 rounded-l-none button button-primary"
              type="submit"
            >
              <i class="fa fa-search"></i>
            </button>
            <i class="input-clear right-12 fa fa-circle-xmark"></i>
          </div>
        </form>
        {{/srch}}
        <div>
          <div class="w-48 mx-3 mb-3">
            <label class="form-label form-label-input">ソート順</label>
            <select class="form-input table-sort">
              <option value="0">カードNo(昇順)</option>
              <option value="1">カードNo(降順)</option>
              <option value="2">マス数(昇順)</option>
              <option value="3">マス数(降順)</option>
              <option value="4">SP数(昇順)</option>
              <option value="5">SP数(降順)</option>
              <option value="6">レア度(昇順)</option>
              <option value="7">レア度(降順)</option>
            </select>
          </div>
        </div>
      </div>
      <div class="flex-auto"></div>
      <div class="mt-3 button-toggle" role="group">
        <button
          type="button"
          data-button_type="grid"
          class="button button-sm button-default button-active"
          title="グリッド表示"
        >
          <i class="fa-solid fa-table-cells-large"></i>
        </button>
        <button
          type="button"
          data-button_type="table"
          class="button button-sm button-default"
          title="リスト表示"
        >
          <i class="fa-solid fa-list"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    class="relative flex-shrink-0 flex-grow h-[calc(100vh-300px)] overflow-y-scroll"
    style="min-height: 400px"
  >
    <table class="table cardlist_table" data-layout="grid">
      <thead>
        <tr>
          <th class="w-0 !p-0">
            <!-- マス表示 -->
          </th>
          <th class="w-20 text-center xl:w-28">
            <span class="xl:hidden">No.</span
            ><span class="hidden xl:inline">ナンバー</span>
          </th>
          <th class="w-16 text-center">マス数</th>
          <th class="w-20 text-center xl:w-28">
            <span class="xl:hidden">SP</span
            ><span class="hidden xl:inline">スペシャル<br />ポイント</span>
          </th>
          <th class="w-20 !px-2 text-center lg:w-26">レア度</th>
          <th class="text-start">名前</th>
          <th class="w-16"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
