<div class="deck-tab-item table__wrapper">
  <div class="table-caption-title">
    <div class="flex flex-wrap items-center -mt-2 -ml-2">
      <span class="table-title-text">{{title}}</span>
      {{^srch}}
      <div class="mx-3 mt-3" title="デッキ情報">
        <button
          type="button"
          id="button-deck-info"
          class="button button-sm button-default"
        >
          <i class="w-3 fa fa-circle-info"></i>
        </button>
      </div>
      {{/srch}}
      {{#srch}}
      <div class="flex-auto" style="max-width: 16px"></div>
      {{/srch}}
      <div class="font-normal">
        <div class="mt-2 ml-2 w-36">
          <select class="form-input table-sort">
            <option value="0">カードNo(昇順)</option>
            <option value="1">カードNo(降順)</option>
            <option value="2">マス数(昇順)</option>
            <option value="3">マス数(降順)</option>
            <option value="4">SP数(昇順)</option>
            <option value="5">SP数(降順)</option>
            <option value="6">レア度(昇順)</option>
            <option value="7">レア度(降順)</option>
          </select>
        </div>
      </div>
      <div class="flex action-wrapper"></div>
      <div class="flex justify-end flex-auto ml-1">

        <div class="mt-3 button-toggle" role="group">
          <button
            type="button"
            data-button_type="grid"
            class="button button-sm button-default button-active"
            title="グリッド表示"
          >
            <i class="fa-solid fa-table-cells-large"></i>
          </button>
          <button
            type="button"
            data-button_type="table"
            class="button button-sm button-default"
            title="リスト表示"
          >
            <i class="fa-solid fa-list"></i>
          </button>
        </div>
      </div>
    </div>
    {{#srch}}
    <div class="mt-2 md:mt-3 expandable-wrapper">
      <form
        class="expandable cardlist_serch !overflow-hidden flex flex-wrap items-end"
      >
        <div class="flex flex-wrap mb-3 -ml-3">
          <div class="flex items-center mt-2 ml-6" title="マス数">
            <div class="p-3 mt-2 mr-5 text-xs gridcount">
              <div
                class="absolute text-xs font-normal -translate-x-1/2 left-1/2 -top-4 whitespace-nowrap"
              >
                マス数
              </div>
            </div>
            <div class="w-12">
              <label
                for="min-grid"
                class="mb-1 text-xs form-label form-label-input"
                >最小</label
              >
              <input
                id="min-grid"
                type="number"
                class="p-1 form-input text-end"
              />
            </div>
            <span class="mx-2 mt-5">～</span>
            <div class="w-12">
              <label
                for="max-grid"
                class="mb-1 text-xs form-label form-label-input"
                >最大</label
              >
              <input
                id="max-grid"
                type="number"
                class="p-1 form-input text-end"
              />
            </div>
          </div>
          <div class="flex items-center mt-2 ml-6" title="スペシャルポイント">
            <div class="relative p-px mx-2 mt-2 sp-fill">
              <div
                class="absolute text-xs font-normal -translate-x-1/2 left-1/2 -top-5 whitespace-nowrap"
              >
                sp
              </div>
            </div>
            <div class="w-12 ml-3">
              <label
                for="min-sp"
                class="mb-1 text-xs form-label form-label-input"
                >最小</label
              >
              <input
                id="min-sp"
                type="number"
                class="p-1 form-input text-end"
              />
            </div>
            <span class="mx-2 mt-5">～</span>
            <div class="w-12">
              <label
                for="max-sp"
                class="mb-1 text-xs form-label form-label-input"
                >最大</label
              >
              <input
                id="max-sp"
                type="number"
                class="p-1 form-input text-end"
              />
            </div>
          </div>
        </div>
        <div class="flex mb-3 ml-3">
          <div class="relative" data-clearable>
            <input
              class="pr-16 form-input input_cardlist_serch"
              type="search"
              placeholder="カード名"
            />
            <button
              class="absolute top-0 bottom-0 right-0 px-3 rounded-l-none button button-primary"
              type="submit"
            >
              <i class="fa fa-search"></i>
            </button>
            <i class="input-clear right-12 fa fa-circle-xmark"></i>
          </div>
          <button
            type="button"
            class="self-end ml-5 mr-1 whitespace-nowrap button_search_clear button button-alt button-xs"
          >
            クリア
          </button>
        </div>
      </form>
      <div class="mt-1 -mx-2 -mb-2 md:-mx-4 md:-mb-4">
        <button
          type="button"
          class="block w-full text-center button-default expand-button"
        >
          <span class="mr-2 text-sm">詳細検索</span
          ><i class="fa-solid fa-caret-down"></i>
        </button>
      </div>
    </div>
    {{/srch}}
  </div>
  <div
    class="relative flex-grow flex-shrink-0 overflow-y-scroll"
    style="min-height: 400px; height: calc(100vh - 250px)"
    tabindex="-1"
  >
    <table class="table cardlist_table" data-layout="grid">
      <thead>
        <tr>
          <th class="w-0 !p-0">
            <!-- マス表示 -->
          </th>
          <th class="w-16 text-center xl:w-28">
            <span class="xl:hidden">No.</span
            ><span class="hidden xl:inline">ナンバー</span>
          </th>
          <th class="text-center w-14 md:w-16">マス数</th>
          <th class="w-16 text-center md:w-24">
            <span class="xl:hidden">SP</span
            ><span class="hidden xl:inline">スペシャル<br />ポイント</span>
          </th>
          <th class="w-1 text-center sm:w-20 md:w-1 lg:w-20">
            <span class="hidden sm:inline md:hidden lg:inline">レア度</span>
          </th>
          <th class="text-start">名前</th>
          <th class="w-14"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
