name: Run Tests
on:
  pull_request:
    branches: 
      - main
  workflow_call:
jobs:
  test-runner:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version-file: ./.nvmrc
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Check lint
      run: npm run check:lint
    - name: Check format
      run: npm run check:format
    - name: Check types
      run: npm run check:types
    - name: Run vitest tests
      run: npm run test:coverage
    - name: Check build (and for coverage report)
      run: npm run build:coverage
    - name: Get installed Playwright version
      id: playwright-version
      run: echo "PlaywrightVersion=$(npm ll --depth=0 -p @playwright/test | grep -o '@[0-9].*')" >> "$GITHUB_OUTPUT"
    - name: Cache Playwright binaries
      id: playwright-cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      with:
        # see https://playwright.dev/docs/browsers#managing-browser-binaries
        path: ~/.cache/ms-playwright
        key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.PlaywrightVersion }}
        restore-keys: |
          ${{ runner.os }}-playwright-
    # Install Playwright Browsers with dependencies
    - name: Install Playwright Browsers with dependencies
      if: steps.playwright-cache.outputs.cache-hit != 'true'
      run: npx playwright install --with-deps
    # Install Playwright's OS specific dependencies (e.g. xvfb)
    - name: Install Playwright's dependencies
      if: steps.playwright-cache.outputs.cache-hit == 'true'
      run: npx playwright install-deps
    - name: Run Playwright tests (PC)
      run: npm run e2e:pc:coverage
    - name: Run Playwright tests (mobile)
      run: npm run e2e:mobile:coverage
    - name: Generate report
      run: npm run e2e:report
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      if: always()
      with:
        name: vitest-coverage
        path: vitest-coverage/
        retention-days: 15
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      if: always()
      with:
        name: playwright-coverage
        path: playwright-coverage/lcov-report/
        retention-days: 15
